@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir/AvenirLTStd-Roman.woff2") format("woff2"), url("../fonts/Avenir/AvenirLTStd-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir/AvenirLTStd-Book.woff2") format("woff2"), url("../fonts/Avenir/AvenirLTStd-Book.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gloria Hallelujah";
  src: url("../fonts/Gloria_Hallelujah/GloriaHallelujah.woff2") format("woff2"), url("../fonts/Gloria_Hallelujah/GloriaHallelujah.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu/Ubuntu-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
:root {
  --text-color: #2E2E2E;
  --bg-color: #EFBE50;
  --btn: #1CD4BE;
  --mainly-red: #FBF8F2;
}

.header {
  padding-top: 33px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 71px;
}

.header-navbar {
  display: flex;
}

.header-list {
  display: flex;
  list-style-type: none;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.header-list--link {
  text-decoration: none;
  color: var(--mainly-red);
  font-weight: 400;
}

.header--btn {
  margin-left: 47px;
  cursor: pointer;
}

.main {
  color: var(--text-color);
}

.main-row {
  display: flex;
  justify-content: space-between;
}

.main-img {
  padding-left: 117px;
}

.main-content {
  max-width: 777px;
  width: 100%;
  min-height: 667px;
  height: 100%;
  background-color: var(--mainly-red);
  margin-top: 48px;
  padding-top: 51px;
  padding-left: 59px;
}

.main-content-block1 {
  max-width: 567px;
  margin-bottom: 55px;
}

.main-content--subtitle {
  font-weight: 400;
  margin-bottom: 4px;
}

.main-content-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.main-content--title {
  font-family: "Gloria Hallelujah", sans-serif;
  font-weight: 400;
}

.main-content-head--icon {
  width: 40px;
  height: 40px;
}

.main-content--desc {
  font-size: 24px;
}

.main-content-block2 {
  max-width: 500px;
}

.main-content--copy {
  font-weight: 400px;
  padding-bottom: 15px;
  line-height: 24.59px;
}

.main-content--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 59px;
  background-color: var(--btn);
  color: var(--mainly-red);
  font-weight: 400;
  margin-top: 36px;
  text-decoration: none;
  transition: 0.4s;
}
.main-content--btn:hover {
  background-color: #0baf9c;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Avenir", sans-serif;
  font-size: 18px;
}

.wrapper {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--bg-color);
}

.container {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */