.header {
    padding-top: 33px;
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 138px;
    height: 71px;
}

.header-navbar {
    display: flex;
}

.header-list {
    display: flex;
    list-style-type: none;
    column-gap: 24px;
}

.header-list--link {
    text-decoration: none;
    color: var(--mainly-red);
    font-weight: 400;
}

.header--btn {
    margin-left: 47px;
    cursor: pointer;
}