.main {
    color: var(--text-color);
}

.main-row {
    display: flex;
    justify-content: space-between;
}
.main-img {
    padding-left: 117px;
}

.main-content {
    max-width: 777px;
    width: 100%;
    min-height: 667px;
    height: 100%;
    background-color: var(--mainly-red);
    margin-top: 48px;
    padding-top: 51px;
    padding-left: 59px;
}

.main-content-block1 {
    max-width: 567px;
    margin-bottom: 55px;
}

.main-content--subtitle {
    font-weight: 400;
    margin-bottom: 4px;
}

.main-content-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.main-content--title {
    font-family: 'Gloria Hallelujah', sans-serif;
    font-weight: 400;
}

.main-content-head--icon {
    width: 40px;
    height: 40px;
}

.main-content--desc {
    font-size: 24px;
}

.main-content-block2 {
    max-width: 500px;
}

.main-content--copy {
    font-weight: 400px;
    padding-bottom: 15px;
    line-height: 24.59px;
}

.main-content--btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 59px;
    background-color: var(--btn);
    color: var(--mainly-red);
    font-weight: 400;
    margin-top: 36px;
    text-decoration: none;
    transition: .4s;

    &:hover {
        background-color: #0baf9c;
    }
}