.main {}

.main-row {
    display: flex;
    justify-content: space-between;
}
.main-img {
}
.main-content {
    max-width: 778px;
    min-height: 667px;
    background-color: var(--mainly-red);
}
.main-content--subtitle {
}
.main-content-head {
}
.main-content--title {
}
.main-content-head--icon {
}
.main-content--desc {
}
.main-content--copy {
}